#plot-image {
    height: 400px;
    width: 600px;
}

#plot-links {
    height: 100px;
    width: 100px;
}

#main-vis {
    background: white;
    position: relative; 
    top:40px;
    left: 10px;
    border: 5px solid transparent;
    padding: 15px;
    /*border-color: rgb(73, 161, 147);*/
}

#main-background {
    background: rgb(230, 228, 228);
}

#main-body {
    background: rgb(230, 228, 228);
}

#side-vis {
    background: white;
    position: relative;
    top: 40px;
    right: 10px;
    height: 400px;
    border: 5px solid transparent;
    padding: 15px;
    /*border-color: rgb(73, 161, 147)*/
}

#plot-desc {
    border-top: black;
}

#plot-name {
    border-bottom: gray;
    padding-bottom: 15px;
    color: rgb(73, 161, 147);
    font-weight: bold;
}

#plot-links-title {
    padding-bottom: 15px;
    color: rgb(73, 161, 147);
    font-weight: bold;
}

#side-plot-1 {
    /*border: 2px solid transparent;*/
    /*border-color: rgb(73, 161, 147);*/
    height: 100px;
    width: 100px;
}

#side-plot-2 {
    /*border: 2px solid transparent;*/
    /*border-color: rgb(73, 161, 147);*/
    height: 100px;
    width: 100px;
}

#side-plot-3 {
    border: 2px solid transparent;
    border-color: rgb(73, 161, 147);
    height: 100px;
    width: 100px;
}

#side-plot-4 {
    /*border: 2px solid transparent;*/
    /*border-color: rgb(73, 161, 147);*/
    height: 100px;
    width: 100px;
}

#nav-title {
    background-color:rgb(73, 161, 147);
    color: white;
}